@font-face {
  font-family: 'Dodo Rounted';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../src/font/dodo-rounted.woff2') format('woff2'),
  url('../../src/font/dodo-rounted.woff') format('woff')
}
